doctype html
html(lang="pt-BR")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title VBPA
		
		// styles
		link(rel="stylesheet", href="../dist/css/style.css")
		link(rel="stylesheet", href="../dist/css/responsive.css", media="(max-width: 900px)")
				
	body
		header#main-header.clearfix
			div.row-head.clearfix
				div.wrapper.clearfix
					a.el-home(href="#")
						img(src="../dist/imgs/icone-home-vermelho.png", alt="Home")
							
						span Home
						
					p.el-phones
						span (71) 3240-8538 / 3345-2347 / 3022-8661 
						
						img(src="../dist/imgs/icone-phone-vermelho.png", alt="Telefone")
							
							
			div.row-middle.clearfix
				div.wrapper.clearfix
					a.el-brand(href="#")
						img(src="../dist/imgs/marca-vbpa.png", alt="VBPA")
							
					nav.el-navigation.clearfix
						ul.clearfix
							li
								a(href="#") Quem somos
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Serviços
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Downloads
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Links
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Contato
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
										
					a.el-button-mobile-menu(href="#") Menu
										
		section#main-slider.clearfix
			img(src="../dist/imgs/example-slider.jpg", alt="Título")
				
		section#box-restict.clearfix
			div.wrapper.clearfix
				form.clearfix
					h2.clearfix
						img(src="../dist/imgs/icone-cadeadro-branco.png")
					
						span ACESSO RESTRITO A CLIENTES
					
					fieldset.clearfix
						input(type="text", placeholder="DIGITE O CNPJ", required)
							
					fieldset.clearfix
						input(type="password", placeholder="DIGITE A SENHA", required)
							
					input(type="submit", value="Acessar")
						
						
				div.clearfix
					
				a.el-password(href="#") Solicitar NOVA SENHA.
				
		section#home-service.clearfix
			div.wrapper.clearfix
				header.box-header.clearfix
					h2 NOSSOS SERVIÇOS
					
				ul.el-services
					li.clearfix
						div.el-thumbnail.clearfix
							a(href="#")
								img(src="http://www.fillmurray.com/306/91", alt="Título")
									
						div.el-caption.clearfix
							h3 
								a(href="#") Societário
								
							p Abertura e encerramento de empresas <br /> Assessoria para regularização de empresas <br /> Assessoria para aquisição, fusão e incorporação <br /> Alterações contratuais e registros
							
							
					li.clearfix
						div.el-thumbnail.clearfix
							a(href="#")
								img(src="http://www.fillmurray.com/306/91", alt="Título")
									
						div.el-caption.clearfix
							h3 
								a(href="#") Assessoria Contábil / Fiscal /<br /> Pessoal Permanente
								
							p Contabilidade empresarial <br /> Rotinas fiscais <br /> Rotinas trabalhistas <br /> Folha de pagamento <br /> Assessoria econômica financeira <br /> Assessoria fiscal <br /> Planejamento tributário <br /> Revisão e preparação de obrigações acessórias <br /> Relatórios gerenciais
							
		section#home-downloads.clearfix
			div.wrapper.clearfix
				header.clearfix
					h2 <strong>DOWNLOADS >></strong> Formulários e Tabelas Práticas
					
					p Separamos abaixo diversos arquivos necessários para o dia a dia de sua empresa, aqui você encontrará  formulários da receita, darfs, termos, tabelas, códigos e muitos outros arquivos úteis. Basta escolher a categoria desejada e depois selecionar o arquivo para download.
					
				form.clearfix
					fieldset.clearfix
						label Formulários
						
						div.el-select.clearfix
							input(type="text", placeholder="ESCOLHA A CATEGORIA")
								
							select
								option(value="") Selecione
								option(value="Categoria 1") Categoria 1
								option(value="Categoria 2") Categoria 2
								option(value="Categoria 3") Categoria 3
								
						input(type="submit", value="Pesquisar")
								
					fieldset.clearfix
						label Tabelas práticas
						
						div.el-select.clearfix
							input(type="text", placeholder="ESCOLHA A CATEGORIA")
								
							select
								option(value="") Selecione
								option(value="Categoria 1") Categoria 1
								option(value="Categoria 2") Categoria 2
								option(value="Categoria 3") Categoria 3
								
						input(type="submit", value="Pesquisar")
							
		section#big-image.clearfix
			div.wrapper.clearfix
				img(src="../dist/imgs/example-big-text.jpg")
					
		section#home-contact.clearfix
			div.wrapper.clearfix
				div.el-map.clearfix
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.4097378247598!2d-38.48981449897104!3d-13.009559364054246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71603547a587b35%3A0x41025b0c03ac234b!2sRio+Vermelho%2C+Salvador+-+BA%2C+41940-080!5e0!3m2!1spt-BR!2sbr!4v1461939112799" width="331" height="209" frameborder="0" style="border:0" allowfullscreen></iframe>
					
				div.el-texts.clearfix
					p <strong>ONDE ESTAMOS</strong><br />Rua Aymorés, 146, Ed. Morumbi, 1º andar, Rio Vermelho – Cep 41.940-080<br/>Salvador - Bahia
					
					p <strong>TELEFONES DE CONTATO</strong><br />(71) 3240-8538 / 3345-2347 / 3022-8661 
					
					p <strong>E-MAILS PARA CONTATO</strong><br />valverde@vbpa.com.br e  amorim@vbpa.com.br
										
		footer#main-footer.clearfix
			div.row-head.clearfix
				div.wrapper.clearfix
					a.el-brand(href="#")
						img(src="../dist/imgs/marca-vbpa.png", alt="VBPA")						
						
					nav.el-navigation.clearfix
						ul.clearfix
							li
								a(href="#") Quem somos

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Serviços

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Downloads

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Links

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Contato

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
										
			div.clearfix
										
			div.row-middle.clearfix.wrapper
				p.el-message VBPA - Auditores & Consultores<br />assessoria contábil e consultoria
				
				p.el-copyright Copyright © 2016 - Todos os direitos reservados à<br />VBPA -Auditores & Consultores<br />Assessoria Contábil e Consultoria
				
				div.clearfix
					
				a.el-brand(href="http://www.grupoa2.com.br", target="_blank")
					img(src="../dist/imgs/marca-grupoa-a2.png", alt="DESENVOLVIDO PELO GRUPO A2")
						
		nav#mobile-menu.clearfix
			a.el-close(href="#") Fechar
			
			ul.clearfix
				li
					a(href="#") Quem somos
					
				li
					a(href="#") Serviços
					
				li
					a(href="#") Downloads
					
				li
					a(href="#") Links
					
				li
					a(href="#") Contato
					
		// jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
					
		// scrips
		script(src="../dist/js/app.js")