doctype html
html(lang="pt-BR")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title VBPA
		
		// styles
		link(rel="stylesheet", href="../dist/css/style.css")
		link(rel="stylesheet", href="../dist/css/responsive.css", media="(max-width: 900px)")
				
	body
		header#main-header.clearfix
			div.row-head.clearfix
				div.wrapper.clearfix
					a.el-home(href="#")
						img(src="../dist/imgs/icone-home-vermelho.png", alt="Home")
							
						span Home
						
					p.el-phones
						span (71) 3240-8538 / 3345-2347 / 3022-8661 
						
						img(src="../dist/imgs/icone-phone-vermelho.png", alt="Telefone")
							
							
			div.row-middle.clearfix
				div.wrapper.clearfix
					a.el-brand(href="#")
						img(src="../dist/imgs/marca-vbpa.png", alt="VBPA")
							
					nav.el-navigation.clearfix
						ul.clearfix
							li
								a(href="#") Quem somos
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Serviços
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Downloads
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Links
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Contato
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
										
					a.el-button-mobile-menu(href="#") Menu
										
		section#main-slider.clearfix
			img(src="../dist/imgs/example-slider.jpg", alt="Título")
				
		section#box-restict.clearfix
			div.wrapper.clearfix
				form.clearfix
					h2.clearfix
						img(src="../dist/imgs/icone-cadeadro-branco.png")
					
						span ACESSO RESTRITO A CLIENTES
					
					fieldset.clearfix
						input(type="text", placeholder="DIGITE O CNPJ", required)
							
					fieldset.clearfix
						input(type="password", placeholder="DIGITE A SENHA", required)
							
					input(type="submit", value="Acessar")
						
						
				div.clearfix
					
				a.el-password(href="#") Solicitar NOVA SENHA.
				
		section#page-links.clearfix
			div.wrapper.clearfix
				header.clearfix
					h2 Links Úteis
					
				main
					p Separamos abaixo alguns links úteis para o dia a dia de sua empresa.
					
					div.el-item.clearfix
						h3 NOME DA CATEGORIA 1
						
						table
							tbody
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
					div.el-item.clearfix
						h3 NOME DA CATEGORIA 1
						
						table
							tbody
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
					div.el-item.clearfix
						h3 NOME DA CATEGORIA 1
						
						table
							tbody
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
					div.el-item.clearfix
						h3 NOME DA CATEGORIA 1
						
						table
							tbody
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
									
								tr
									td Nome do Site 01
									td www.enderecodosite01.com.br
										
		footer#main-footer.clearfix
			div.row-head.clearfix
				div.wrapper.clearfix
					a.el-brand(href="#")
						img(src="../dist/imgs/marca-vbpa.png", alt="VBPA")						
						
					nav.el-navigation.clearfix
						ul.clearfix
							li
								a(href="#") Quem somos

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Serviços

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Downloads

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Links

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Contato

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
										
			div.clearfix
										
			div.row-middle.clearfix.wrapper
				p.el-message VBPA - Auditores & Consultores<br />assessoria contábil e consultoria
				
				p.el-copyright Copyright © 2016 - Todos os direitos reservados à<br />VBPA -Auditores & Consultores<br />Assessoria Contábil e Consultoria
				
				div.clearfix
					
				a.el-brand(href="http://www.grupoa2.com.br", target="_blank")
					img(src="../dist/imgs/marca-grupoa-a2.png", alt="DESENVOLVIDO PELO GRUPO A2")
						
		nav#mobile-menu.clearfix
			a.el-close(href="#") Fechar
			
			ul.clearfix
				li
					a(href="#") Quem somos
					
				li
					a(href="#") Serviços
					
				li
					a(href="#") Downloads
					
				li
					a(href="#") Links
					
				li
					a(href="#") Contato
					
		// jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
					
		// scrips
		script(src="../dist/js/app.js")