doctype html
html(lang="pt-BR")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title VBPA
		
		// styles
		link(rel="stylesheet", href="../dist/css/style.css")
		link(rel="stylesheet", href="../dist/css/responsive.css", media="(max-width: 900px)")
				
	body
		header#main-header.clearfix
			div.row-head.clearfix
				div.wrapper.clearfix
					a.el-home(href="#")
						img(src="../dist/imgs/icone-home-vermelho.png", alt="Home")
							
						span Home
						
					p.el-phones
						span (71) 3240-8538 / 3345-2347 / 3022-8661 
						
						img(src="../dist/imgs/icone-phone-vermelho.png", alt="Telefone")
							
							
			div.row-middle.clearfix
				div.wrapper.clearfix
					a.el-brand(href="#")
						img(src="../dist/imgs/marca-vbpa.png", alt="VBPA")
							
					nav.el-navigation.clearfix
						ul.clearfix
							li
								a(href="#") Quem somos
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Serviços
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Downloads
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Links
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
								
							li
								a(href="#") Contato
								
								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
										
					a.el-button-mobile-menu(href="#") Menu
										
		section#main-slider.clearfix
			img(src="../dist/imgs/example-slider.jpg", alt="Título")
				
		section#box-restict.clearfix
			div.wrapper.clearfix
				form.clearfix
					h2.clearfix
						img(src="../dist/imgs/icone-cadeadro-branco.png")
					
						span ACESSO RESTRITO A CLIENTES
					
					fieldset.clearfix
						input(type="text", placeholder="DIGITE O CNPJ", required)
							
					fieldset.clearfix
						input(type="password", placeholder="DIGITE A SENHA", required)
							
					input(type="submit", value="Acessar")
						
						
				div.clearfix
					
				a.el-password(href="#") Solicitar NOVA SENHA.
				
		section#page-about.clearfix
			div.box-about.clearfix
				div.wrapper.clearfix
					header.clearfix
						h2 QUEM SOMOS
						
					article.clearfix
						p A VBPA Auditores & Consultores é uma empresa especializada, que se orienta desde a sua fundação, em 1994, pelo compromisso rigoroso de manter elevado padrão de qualidade em cada procedimento dos serviços de auditoria, consultoria, contabilidade e assessoria administrativa que presta a seus clientes.
						
						p Liderada por profissionais egressos de empresas de Auditoria Externa com atuação internacional, a VBPA reúne profissionais cuidadosamente selecionados, com experiência em diversos segmentos de mercado, em um ambiente interno caracterizado pela motivação, integração e confiança entre os seus integrantes.
						
						p Todo o staff da VBPA compartilha a noção de que o maior patrimônio da empresa é o reconhecimento conquistado junto aos seus clientes, um universo hoje constituído de empresas de diversos segmentos de mercado de grande, médio e pequeno portes.
						
			div.box-reasons.wrapper.clearfix
				div.el-item.clearfix
					h3 MISSÃO
					
					p Prestação de um serviço de qualidade, o qual possibilite fornecer informações à orientação administrativa e gestão econômica das entidades, visando um atendimento pleno de suas necessidades e satisfação.
					
				div.el-item.clearfix
					h3 PRINCÍPIOS
					
					p Confiabilidade, credibilidade, agilidade e ética nos serviços prestados.
					
				div.el-item.clearfix
					h3 OBJETIVOS
					
					p Fortalecer o espírito colaborativo, capacidade de perceber e se adaptar às mudanças, antecipar e administrar riscos, iniciativa, buscando o pleno atendimento aos nossos clientes dentro das normas estabelecidas pela legislação em vigor, valorização e remuneração dos nossos serviços e oferecer condições que proporcionem um ambiente favorável ao bem estar, crescimento pessoal e profissional dos nossos colaboradores.
					
				div.el-item.clearfix
					h3 FILOSOFIA
					
					p União, pesquisa, atualização, crescimento, satisfação do cliente.
										
		footer#main-footer.clearfix
			div.row-head.clearfix
				div.wrapper.clearfix
					a.el-brand(href="#")
						img(src="../dist/imgs/marca-vbpa.png", alt="VBPA")						
						
					nav.el-navigation.clearfix
						ul.clearfix
							li
								a(href="#") Quem somos

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Serviços

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Downloads

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Links

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")

							li
								a(href="#") Contato

								span.el-hover
									img(src="../dist/imgs/icon-hover-item-menu.png")
										
			div.clearfix
										
			div.row-middle.clearfix.wrapper
				p.el-message VBPA - Auditores & Consultores<br />assessoria contábil e consultoria
				
				p.el-copyright Copyright © 2016 - Todos os direitos reservados à<br />VBPA -Auditores & Consultores<br />Assessoria Contábil e Consultoria
				
				div.clearfix
					
				a.el-brand(href="http://www.grupoa2.com.br", target="_blank")
					img(src="../dist/imgs/marca-grupoa-a2.png", alt="DESENVOLVIDO PELO GRUPO A2")
						
		nav#mobile-menu.clearfix
			a.el-close(href="#") Fechar
			
			ul.clearfix
				li
					a(href="#") Quem somos
					
				li
					a(href="#") Serviços
					
				li
					a(href="#") Downloads
					
				li
					a(href="#") Links
					
				li
					a(href="#") Contato
					
		// jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
					
		// scrips
		script(src="../dist/js/app.js")